<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="this is my personal blog help to generate more leads">
    <meta name="author" content="kunal kamble">
   

    <title>Signin Template for Bootstrap</title>

   <style >
   	.primary{
   		color: red;
   		background-color: blue
   		text-align :left;
   	}
   	.centeral{
   		text-align: left;
   	}
   </style>>

  </head>



  <body>
    <p class= "primary"> <h3>my name is kunal kamble </h3></p>
    <div class="" ="centeral">keep this at center 
    	<div class="centeral">please show me this on web page</div>></div>>
  </body>
</html>
